<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <targets>
    <!-- File target with daily rolling -->
    <target name="logfile" 
            xsi:type="File" 
            fileName="${basedir}/logs/AuroraFlasher-${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true:padding=-5} | ${logger:shortName=true} | ${message} ${exception:format=tostring}"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false" />
    
    <!-- Console target with colors -->
    <target name="console" 
            xsi:type="ColoredConsole"
            layout="${longdate} | ${level:uppercase=true:padding=-5} | ${logger:shortName=true} | ${message}">
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
    </target>
  </targets>

  <rules>
    <!-- Log all messages from Debug level and above to both file and console -->
    <logger name="*" minlevel="Debug" writeTo="logfile,console" />
  </rules>
</nlog>
